@font-face {
  font-family: "forza";
  src: url("./Forza-Book.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "GoodTimes";
  src: url("./goodtimesrg.ttf");
  font-style: normal;
  font-weight: 400;
}

#imgOne {
  position: absolute;
  left: 350px;
  top: 60px;
}
#light3 {
  position: absolute;
  left: 602px;
  top: 228px;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;

  transition: transform 0.5s, opacity 0.5s;
}
.three {
  transform: scale(1.029) !important;
  opacity: 1 !important;
  transition: transform 0.5s, opacity 0.5s;
}
#light2 {
  position: absolute;
  left: 484px;
  top: 145px;
  pointer-events: none;
  transform: scale(0.7);
  opacity: 0;

  transition: transform 0.5s, opacity 0.5s;
}
.two {
  transform: scale(1.029) !important;
  opacity: 1 !important;
  transition: transform 0.5s, opacity 0.5s;
}
#light1 {
  position: absolute;
  left: 356px;
  top: 65px;
  pointer-events: none;
  transform: scale(0.75);
  opacity: 0;

  transition: transform 0.5s, opacity 0.5s;
}
.one {
  transform: scale(1.029) !important;
  opacity: 1 !important;
  transition: transform 0.5s, opacity 0.5s;
}

/*--------------------Outer Image CSS-------------------- */
#text1 {
  position: absolute;
  left: 692px;
  top: 75px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  letter-spacing: 3px;
  font-family: "GoodTimes";

  transition: transform 500ms;
  pointer-events: none;
}
.text1new {
  transform: translate(0, -35px) scale(0) !important;

  transition: transform 500ms;
}

#replacedText1 {
  position: absolute;
  left: 532px;
  top: 75px;
  color: white;
  text-align: center;
  transform: translate(0, 35px) scale(0);
  transition: transform 400ms;

  /* pointer-events: none; */
}
#repText1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: "GoodTimes";
  /* margin-bottom: -10px; */
}
#Onebutton1,
#Onebutton2 {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;

  letter-spacing: 2px;

  cursor: pointer;
  font-family: fantasy;
}
#Onebutton1 button,
#Onebutton2 button {
  font-family: "forza";
}
#Onebutton1 {
  margin-right: 30px;
}
.replacedText1New {
  transform: translate(0, 0) scale(1) !important;

  transition: transform 800ms;
}
#question1 {
  position: absolute;
  left: 750px;
  top: 610px;
  transition: transform 300ms;
  pointer-events: none;
}
.question1New {
  transform: translate(0, 35px) scale(0) !important;
  transition: transform 300ms;
}

/*--------------------Middle Image CSS-------------------- */
#text2 {
  position: absolute;
  left: 680px;
  top: 155px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  letter-spacing: 3px;
  font-family: "GoodTimes";
  transition: transform 500ms;
  pointer-events: none;
}
.text2new {
  transform: translate(0, -35px) scale(0) !important;

  transition: transform 500ms;
}
#replacedText2 {
  position: absolute;
  left: 572px;
  top: 150px;
  color: white;
  text-align: center;
  transform: translate(0, 35px) scale(0);
  transition: transform 400ms;
}
#repText2 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: "GoodTimes";
}
#Twobutton1,
#Twobutton2,
#Twobutton3 {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;

  letter-spacing: 2px;

  cursor: pointer;
}
#Twobutton1 button,
#Twobutton2 button,
#Twobutton3 button {
  font-family: "forza";
}
#Twobutton1,
#Twobutton2 {
  margin-right: 30px;
}
.replacedText2New {
  transform: translate(0, 0) scale(1) !important;

  transition: transform 800ms;
}
#question2 {
  position: absolute;
  left: 750px;
  top: 512px;
  transition: transform 300ms;
  pointer-events: none;
}
.question2New {
  transform: translate(0, 35px) scale(0) !important;
  transition: transform 300ms;
}

/*--------------------Inner Image CSS-------------------- */
#text3 {
  position: absolute;
  left: 700px;
  top: 240px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  letter-spacing: 3px;
  font-family: "GoodTimes";
  transition: transform 500ms;
  pointer-events: none;
}
.text3new {
  transform: translate(0, -35px) scale(0) !important;

  transition: transform 500ms;
}
#replacedText3 {
  position: absolute;
  left: 628px;
  top: 237px;
  color: white;
  text-align: center;
  transform: translate(0, 35px) scale(0);
  transition: transform 400ms;
}
#repText3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "GoodTimes";
}
#Threebutton1,
#Threebutton2 {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;

  cursor: pointer;
}
#Threebutton1 button,
#Threebutton2 button {
  font-family: "forza";
}
#Threebutton1 {
  margin-right: 8px;
}
.replacedText3New {
  transform: translate(0, 0) scale(1) !important;

  transition: transform 800ms;
}
#question3 {
  position: absolute;
  left: 750px;
  top: 428px;
  transition: transform 300ms;
  pointer-events: none;
}
.question3New {
  transform: translate(0, 35px) scale(0) !important;
  transition: transform 300ms;
}
#logo {
  position: absolute;
  left: 717px;
  top: 295px;
  width: 110px;
  height: 15´10px;
  pointer-events: none;
}

/* ------------------------------------ */
button {
  display: inline-block;
  /* font-weight: bold; */
  /* letter-spacing: 2px; */
  padding: 6px 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 300ms;
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
}
.outline {
  color: white;
  overflow: hidden;
  position: relative;
}
.outline:before,
.outline:after,
.outline .lines:before,
.outline .lines:after {
  background-color: rgb(0, 255, 170);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 400ms;
  width: 100%;
}
.outline:before {
  bottom: 0;
  top: auto;
}
.outline .lines {
  display: block;
  height: 100%;
  left: 0;

  top: 0;
  width: 100%;
  z-index: 0;
}
.outline .lines:before,
.outline .lines:after {
  height: 100%;
  width: 2px;
}
.outline .lines:after {
  left: auto;
  right: 0;
}
button:hover:before {
  transform: translateX(-101%);
}
button:hover:after {
  transform: translateX(101%);
}
button:hover .lines:before {
  transform: translateY(-101%);
}
button:hover .lines:after {
  transform: translateY(101%);
}
